<header id="header">
    <div class="home-avatar">
        <a href="/">
            <img src="https://github.com/rauldipeas/rauldipeas/raw/main/avatar.gif" title="Raul Dipeas">
        </a>
    </div>
    <div class="home-title">
        <a href="/">
            <h3><b>Raul Dipeas</b></h3>
        </a>
    </div>
    {% include topnav.html %}
</header>

<section class="hero" id="hero">
    <img src="https://rauldipeas.com.br/assets/images/avatar.jpg" alt="Raul Dipeas" class="avatar">
</section>

<main class="content">
</main>
{% include hero.html %}