<header id="header">
    <div class="home-avatar">
        <a href="/">
            <img src="https://github.com/rauldipeas/rauldipeas/raw/main/avatar.gif" title="Raul Dipeas">
        </a>
    </div>
    <div class="home-title">
        <a href="/">
            <h3>Raul Dipeas</h3>
        </a>
    </div>
    <nav class="topnav">
        <a href="/blog" title="Início"><i class="fas fa-home"></i></a>
        <a href="mailto:rauldipeas@disroot.org"
            onclick="window.open('https://spikenow.com/web'); window.location.href = 'mailto:rauldipeas@disroot.org'; return false;"
            title="E-Mail"><i class="fas fa-at"></i></a>
        <a href="https://github.com/rauldipeas" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
        <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" target="_blank" title="RSS"><i class="fas fa-rss"></i></a>
        <a href="/search" title="Pesquisa"><i class="fas fa-search"></i></a>
    </nav>
</header>

<!-- SÓ COLOQUE ESTA SECTION NAS PÁGINAS QUE TERÃO O HERO -->
<section class="hero" id="hero">
    <img src="https://rauldipeas.com.br/assets/images/avatar.jpg" alt="Raul Dipeas" class="avatar">
</section>

<main class="content">
    <!-- seu conteúdo normal -->
</main>
{% include hero.html %}
{% include integram.html %}
<!-- {% include chatwoot.html %} -->