<nav class="topnav">
    <a href="/blog" title="Início do blog"><i class="fas fa-home"></i></a>
    <a href="https://dev.to/rauldipeas" target="_blank" title="Dev.to"><i class="fab fa-dev"></i></a>
    <a href="https://soundcloud.com/rauldipeas" target="_blank" title="SoundCloud"><i class="fab fa-soundcloud"></i></a>
    <a href="https://trakt.tv/users/rauldipeas" target="_blank" title="Trakt"><i class="fas fa-film"></i></a>
    <a href="/search" title="Pesquisa"><i class="fas fa-search"></i></a>
</nav>
<!-- <nav class="topnav">
    <a href="/blog" title="Início">{% octicon home-fill height:22 %}</a>
    <a href="https://github.com/rauldipeas" target="_blank" title="GitHub">{% octicon mark-github height:22 %}</a>
    <a href="/feed.xml" target="_blank" title="RSS">{% octicon rss height:22 %}</a>
    <a href="/search" title="Pesquisa">{% octicon search height:22 %}</a>
</nav> -->