<p style="margin-top: 40px;text-align: center;">Responda esta postagem:</p>
<div class="contact-buttons">
    <a href="mailto:contato@rauldipeas.com.br?subject=Respota ao post {{ page.url | absolute_url }}" class="btn"><img
            src="https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme/master/Papirus/32x32/apps/preferences-desktop-online-accounts.svg"
            alt=""> Email</a>
    <a href="https://wa.me/5511954421574?text=Respodendo%20seu%20post%20{{ page.url | absolute_url }}" target="_blank" class="btn"><img
            src="https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme/master/Papirus/32x32/apps/whatsapp.svg"
            alt=""> WhatsApp</a>
    <a href="xmpp:rauldipeas@disroot.org?message" class="btn"><img
            src="https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme/master/Papirus/32x32/apps/gajim.svg"
            alt=""> XMPP</a>
</div>