<nav class="topnav">
    <a href="/blog" title="Início do blog"><img src="https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme/master/Papirus/24x24/apps/gargoyle-house.svg"></a>
    <a href="https://dev.to/rauldipeas" target="_blank" title="Dev.to"><img src="/assets/images/dev-to.svg" width="28px"></a>
    <a href="https://soundcloud.com/rauldipeas" target="_blank" title="SoundCloud"><img src="https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme/master/Papirus/24x24/apps/soundcloud.svg"></a>
    <a href="https://trakt.tv/users/rauldipeas" target="_blank" title="Trakt"><img src="/assets/images/trakt.svg" width="24px"></a>
    <a href="/search" title="Pesquisa"><img src="https://raw.githubusercontent.com/PapirusDevelopmentTeam/papirus-icon-theme/master/Papirus/24x24/apps/searchmonkey.svg"></a>
</nav>
<!-- <nav class="topnav">
    <a href="/blog" title="Início">{% octicon home-fill height:22 %}</a>
    <a href="https://github.com/rauldipeas" target="_blank" title="GitHub">{% octicon mark-github height:22 %}</a>
    <a href="/feed.xml" target="_blank" title="RSS">{% octicon rss height:22 %}</a>
    <a href="/search" title="Pesquisa">{% octicon search height:22 %}</a>
</nav> -->