.mastodon-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 50px;
  }
    
  .mastodon-sidebar .closebtn {
    position: absolute;
    top: 1;
    right: 15px;
    font-size: 30px;
    margin-left: 50px;
    padding: 0px 6px 7px 5px;
  }
  .mastodon-sidebar .closebtn:hover {
    background-color: red;
    border-radius: 4px;
  }
  .mastodon-sidebar .openbtn {
    position: absolute;
    top: 1;
    right: 44px;
    font-size: 26px;
    margin-left: 50px;
    padding: 0px 6px 7px 5px;
  }
  .mastodon-sidebar .openbtn:hover {
    background-color: green;
    border-radius: 4px;
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .mastodon-sidebar {padding-top: 15px;}
    .mastodon-sidebar a {font-size: 18px;}
  }
  iframe {
    border-radius: 0px 20px 20px 0px;
    border: 1.2px solid black;
  }